#hero-section {
    background-color: #241c15;
}

#hero-eyebrow {
    color: #e08a2b;
}

#hero-headline {
    font-size: clamp(3rem, 11vw ,6.5rem);
}

#hero-subhead {
    font-size: clamp(1.05rem, 2.5vw, 1.35rem);
}

#hero-address {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}